.footer-base {
  color: #999;
  margin-bottom: 30px;

  .footer-content {
    display: flex;
    justify-content: space-between;

    .copyright {
      div a {
        color: var(--color-primary);
      }
    }

    .contact {
      .contact-traditional {
        margin-bottom: 10px;

        label {
          margin-bottom: 10px;
        }

        div {
          &:hover {
            color: var(--color-primary);
          }

          i {
            width: 15px;
            margin-right: 5px;
          }
        }
      }

      .contact-social {
        display: flex;
        justify-content: space-between;

        a {
          width: 40px;
          height: 40px;
          border: solid 1px;
          color: #999;
          cursor: pointer;

          font-size: 30px;

          text-align: center;
          line-height: 40px;
          vertical-align: middle;

          transition: all 0.3s;

          &:nth-child(1):hover {
            color: #333;
          }

          &:nth-child(2):hover {
            color: #007bb5;
          }

          &:nth-child(3):hover {
            color: #3b5998;
          }
        }
      }
    }
  }
}
