@import "components/navbar/NavBar";
@import "components/homes/IndexHomePage";
@import "components/homes/DetailHomePage";
@import "components/homes/NewHomePage";
@import "components/datetimepicker/datepicker";
@import "components/datetimepicker/datepicker-addon";
@import "components/common/GalleryCard";
@import "components/common/Pagination";
@import "components/common/SelectFieldGroup";
@import "components/profile/Profile";
@import "components/alert/Alert";
@import "root";
@import "base";
@import "../../../node_modules/react-select/dist/react-select";

footer {
  color: #999;
}

.root-container {
  min-height: calc(100vh - 70px);
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
