@import "components/navbar/NavBar";
@import "components/homes/IndexHomePage";
@import "components/homes/DetailHomePage";
@import "components/homes/NewHomePage";
@import "components/homes/EditHomePage";

@import "components/homepage/HomePage";

@import "components/trips/DetailTripsPage";

@import "components/wishlist/IndexWishlistPage";

@import "components/login/Login";
@import "components/signup/Signup";

@import "components/footer/Footer";
@import "components/datetimepicker/datepicker";
@import "components/datetimepicker/datepicker-addon";
@import "components/common/GalleryCard";
@import "components/common/TripGalleryCard";
@import "components/common/Pagination";
@import "components/common/SelectFieldGroup";
@import "components/common/Loader";

@import "components/profile/Profile";
@import "components/alert/Alert";
@import "root";
@import "base";
@import "../../../node_modules/react-select/dist/react-select";

@import "../../../node_modules/bootstrap-daterangepicker/daterangepicker.css";

.root-container {
  min-height: calc(100vh - 50px);
  padding-top: 50px;
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
