.home-edit-page-base {
  margin-bottom: 50px;

  .panel {
    margin: 30px 15px 30px 15px;
    border: none;
    border-radius: 0;

    .panel-heading {
      padding: 15px 15px;
      border-radius: 0;
      border: none;

      background: linear-gradient(
        0.35turn,
        var(--color-primary),
        var(--color-secondary-dark)
      );

      .panel-title {
        text-transform: uppercase;
      }
    }

    .panel-body {
      padding: 30px 30px;
      background-color: var(--color-grey-light-2);
    }
  }

  .home-edit-btn-group {
    margin: 0 15px;

    button.btn {
      margin-left: 10px;

      &.delete-btn {
        margin-left: 0;
      }
    }
  }
}

.swal2-actions .swal2-cancel {
  margin-left: 10px;
}
