.page-title {
  padding: 15px;
  margin-top: 40px;
}

.no-result {
  margin: 50px;
}

.search-header {
  position: relative;

  .back-btn {
    position: absolute;
    margin: 15px;

    top: 2px;
    right: 0;
  }
}
