.navbar {
  border-radius: 0;

  .avatar img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
  }

  .navbar-dropdown li a,
  .dropdown-menu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown-toggle {
    padding: 7px 15px 5px 15px;
  }

  .navbar-brand {
    span:nth-child(2) {
      color: var(--color-primary);

      transition: all 0.2s;

      &:hover {
        color: var(--color-primary-dark);
      }
    }

    img {
      margin-top: -5px;
      margin-right: 10px;
      width: 30px;
    }
  }

  .search-bar {
    .search-btn {
      margin-left: 5px;
    }
  }

  .navbar-collapse {
    &.collapse.in,
    &.collapsing {
      .search-bar {
        margin-top: 0;
        border-top: none;

        .search-btn {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    &.collapse:not(.in) {
      ul.dropdown-menu {
        width: 200px;
      }
    }
  }

  .search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
      color: var(--color-grey-dark-3);
      background-color: var(--color-grey-light-2);
      border: none;
      padding: 7px 20px;
      border-radius: 100px;
      width: 90%;
      transition: all 0.3s;
      margin-right: -40px;

      &::placeholder {
        color: var(--color-grey-dark-3);
      }

      &:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3);
      }
    }

    &__button {
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &__icon {
      font-size: 16px;
      color: var(--color-grey-dark-3);
    }
  }
}
